pool:
  name: Default

trigger:
- main

variables:
  imageName: 'aks-demo-app'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'azureacraccess'
        repository: $(imageName)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(Build.BuildId)

- stage: Deploy
  dependsOn: Build
  jobs:
  - job: Deploy
    steps:
    - script: |
        echo "Replacing build ID in deployment.yaml..."
        sed -i "s|__BUILD_ID__|$(Build.BuildId)|g" manifests/deployment.yaml
      displayName: 'Replace BUILD_ID token in deployment.yaml'

    - task: Kubernetes@1
      inputs:
        connectionType: 'Azure Resource Manager'
        azureSubscriptionEndpoint: 'azure-spn-devops'
        azureResourceGroup: 'rg-aks-free-tier'
        kubernetesCluster: 'aks-free-cluster'
        namespace: default
        command: apply
        useConfigurationFile: true
        configuration: 'manifests/deployment.yaml'
